fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings
pytest
pytest-asyncio
httpx
testcontainers[postgres]

# зафиксировать версии перед деплоем
# добавить python-dotenv в зависимости

celery==5.6.3
celery-types==0.26.0
redis==8.1.0
bcrypt<4.1
gunicorn
